extends globalMixins

block html
  - var mainObject = 'employee'
  md-content
    h1 Empregados

    <!-- Button trigger modal -->
    div
      md-button(ng-click="showAdvanced($event)") Adicionar

    md-content.md-padding(layout-xs="column", layout="column")
      md-grid-list(md-cols="1", md-cols-sm="2", md-cols-md="3", md-cols-gt-md="4", md-row-height-gt-md="4:6", md-row-height="5:7", md-gutter="8px" md-gutter-gt-sm="4px")
        //- List
        md-grid-tile(ng-repeat="employee in employees")
          md-card(flex)
            +cardTitle('Matricula - {{'+ mainObject +'.num_matricula}}')

            md-card-content
              md-list

                +cardItem('Nome     : {{'+ mainObject +'.nom_funcionario}}')

                +cardItem('Endereco : {{'+ mainObject +'.den_endereco}}')

                +cardItem('Telefone : {{'+ mainObject +'.num_telefone}}')

                +cardItem('Salario  : {{'+ mainObject +'.val_salario}}')

                +foreignListInfo('Cargo : ',mainObject+'.id_cargo')

                +cardItem('Membro sindicato  : {{' + mainObject + '.num_membro_sindicato}}')

                +foreignListInfo('Sindicato : ',mainObject + '.id_sindicato')

                +foreignListCounter('Especialista em ',mainObject+'.num_matricula','modelos')

            +cardFooter(mainObject)

  script(type="text/ng-template" id="dialog1.tmpl.html")
    md-dialog(layout-padding="",style="min-width:500px;")
      form(data-ng-cloak,name="form")
        //- Edit | Add
        +dialogTitle("num_matricula","Matrícula","item.num_matricula")(type="number", disabled, required)

        md-dialog-content(layout-padding)

          //- Employee name
          +materialInput('nom_funcionario','Nome','item.nom_funcionario')(type="text", required)

          //- Address
          +materialInput('den_endereco','Endereço','item.den_endereco')(type="text", required)

          //- Phone number
          +materialInput('num_telefone','Telefone','item.num_telefone')(type="tel", required)

          //- Salary
          +materialInput('val_salario','Salario','item.val_salario')(type="number", step="100",required)

          //- Office
          +foreignSelect(
            'Cargo',
            'item.id_cargo',
            'id_cargo',
            'office',
            'office.id_cargo',
            'office.den_cargo'
          )

          //- Union number
          +materialInput('num_membro_sindicato','Num Membro sindicato','item.num_membro_sindicato')(type="number",required)

          //Union id
          +foreignSelect(
            'Sindicato',
            'item.id_sindicato',
            'id_sindicato',
            'union',
            'union.id_sindicato',
            'union.den_sindicato'
          )

        //- Confirm
        +dialogFooter('item')