md-content
  h1 Empregados

  <!-- Button trigger modal -->
  div
    md-button(ng-click="showAdvanced($event)") Adicionar

  md-content.md-padding(layout-xs="column", layout="column")
    md-grid-list(md-cols-gt-md="3", md-cols="3", md-cols-md="1", md-row-height-gt-md="1:1.2", md-row-height="1:1", md-gutter-gt-md="16px", md-gutter-md="8px", md-gutter="4px")
      //- List
      md-grid-tile(ng-repeat="employee in employees")
        md-card
          md-card-title
            md-card-title-text
              span.md-headline Matricula - {{employee.num_matricula}}
          md-card-content
            md-list
              md-list-item
                p Nome : {{employee.nom_funcionario}}
              md-list-item
                p Endereco : {{employee.den_endereco}}
              md-list-item
                p Telefone : {{employee.num_telefone}}
              md-list-item
                p Salario : {{employee.val_salario}}
              md-list-item
                p Id cargo : {{employee.id_cargo}}
              md-list-item
                p Membro sindicato : {{employee.num_membro_sindicato}}
              md-list-item
                p Id do sindicato : {{employee.id_sindicato}}
              md-list-item
          md-card-actions(layout="row", layout-align="end center")
            md-button(ng-click="showAdvanced($event,employee)")
              md-icon.material-icons.md-ligh.md-avatar-icon edit
            md-button(ng-click="delete(employee)")
              md-icon.material-icons.md-ligh.md-avatar-icon close
script(type="text/ng-template" id="dialog1.tmpl.html")
  md-dialog(layout-padding="",style="min-width:500px;")
    form(data-ng-cloak,name="form")
      //- Edit | Add
      md-title
        h3(data-layout-gt-xs="row")
          md-input-container.md-block(flex="90")
            label(for="num_matricula") Matrícula
            input#num_matricula.md-input(data-ng-model="item.num_matricula",type="number" aria-invalid="false",name="num_matricula",required, disabled)
          md-button.md-icon-button(aria-label="Fechar",ng-click="cancel()" flex=33,style="top: -15px;")
            md-icon.material-icons close
      md-dialog-content(layout-padding)
        md-input-container.md-block(flex-gt-sm)
          label(for="nom_funcionario") Nome
          input#nom_funcionario.md-input(data-ng-model="item.nom_funcionario", aria-invalid="true",name="nom_funcionario" ,required,data-md-autofocus)

        md-input-container.md-block(flex-gt-sm)
          label(for="den_endereco") Endereço
          input#den_endereco.md-input(data-ng-model="item.den_endereco", aria-invalid="true",name="den_endereco" ,md-maxlength="50",required)

        md-input-container.md-block(flex-gt-sm)
          label(for="num_telefone") Telefone
          input#num_telefone.md-input(data-ng-model="item.num_telefone", aria-invalid="true",name="num_telefone", type="tel", required)

        md-input-container.md-block(flex-gt-sm)
          label(for="val_salario") Salario
          input#val_salario.md-input(data-ng-model="item.val_salario", aria-invalid="true",name="val_salario", type="number" , step="100", required)

        md-input-container.md-block(flex-gt-sm)
          label Cargo
          md-select#id_cargo.md-no-underline(ng-value="item.id_cargo",ng-model="item.id_cargo", style="min-width: 200px;" ,ng-required="true")
            md-option(ng-value="office.id_cargo",ng-repeat="office in offices",ng-selected="item.id_cargo==office.id_cargo" ) {{office.den_cargo}}

        md-input-container.md-block(flex-gt-sm)
          label(for="num_membro_sindicato") Num Membro sindicato
          input#num_membro_sindicato(data-ng-model="item.num_membro_sindicato", aria-invalid="true",name="num_membro_sindicato" ,type="number" ,required)

        md-input-container.md-block(flex-gt-sm)
          label Sindicato
          md-select#id_sindicato.md-no-underline(ng-value="item.id_sindicato",ng-model="item.id_sindicato", style="min-width: 200px;",ng-required="true")
            md-option(ng-repeat="union in unions", ng-value="union.id_sindicato",ng-selected="item.id_sindicato==union.id_sindicato") {{union.den_sindicato}}


      md-dialog-actions(layout="row", layout-align="end center")
        md-button(type="submit" ng-click="answer(item)")
          md-icon.material-icons.md-ligh.md-avatar-icon done