extends layout

block content
  body(data-ng-app="flightModule",data-ng-controller="flightController")
    h1= title
    p Bem vindo a #{title}

    <!-- Button trigger modal -->
    div
      md-button(ng-click="showAdvanced($event)") Adicionar
      md-button
        a(href="") Outros

    md-content.md-padding(layout-xs="column", layout="column")
      md-grid-list(md-cols-gt-md="4", md-cols="3", md-cols-md="3", md-row-height-gt-md="1:1.1", md-row-height="1:1.3", md-gutter-gt-md="16px", md-gutter-md="8px", md-gutter="4px")
        //- List
        md-grid-tile(ng-repeat="plane in planes")
          md-card
            md-card-title
              md-card-title-text
                span.md-headline Modelo - {{plane.modelo}}
            md-card-content
              md-list
                md-list-item
                  p TODO : {{plane.max_passageiros}}
                md-list-item
                  p Quantidade maxima de carga : {{plane.max_carga}} KG
                md-list-item
                  p Data da aquisição : {{plane.data_aquisicao | date}}
                md-list-item
                  p Companhia : {{plane.companhia}}
            md-card-actions(layout="row", layout-align="end center")
              md-button
                md-icon.material-icons.md-ligh.md-avatar-icon(ng-click="showAdvanced($event,plane)") edit
              md-button
                md-icon.material-icons.md-ligh.md-avatar-icon(ng-click="deletePlane(plane)") close
  script(type="text/ng-template" id="dialog1.tmpl.html")
    md-dialog(layout-padding="",style="min-width:500px;")
      form(ng-cloak)
        //- Edit | Add
        md-title
          h3(layout-gt-xs="row")
            md-input-container.md-block(flex-gt-xs)
              label(for="modelo") Modelo
              input#modelo.md-input(ng-model="item.modelo", aria-invalid="false",name="modelo",md-autofocus)
            md-input-container
              md-button.md-icon-button.md-primary(aria-label="Profile",ng-click="cancel()",style="display:inline-block;top: -35px;")
                md-icon.material-icons close

        md-dialog-content(layout-padding)
          md-input-container.md-block(flex-gt-sm)
            label(for="max_passageiros") Quantidade maxima de passageiros
            input#max_passageiros.md-input(ng-model="item.max_passageiros", aria-invalid="true",name="max_passageiros", type="number")

          md-input-container.md-block(flex-gt-sm)
            label(for="max_carga") Quantidade maxima de carga
            input#max_carga.md-input(ng-model="item.max_carga", aria-invalid="true",name="max_carga", type="number")

          md-input-container.md-block(flex-gt-sm)
            label(for="data_aquisicao") Data da aquisição
            md-datepicker#data_aquisicao(ng-model="item.data_aquisicao", aria-invalid="true",name="data_aquisicao")

          md-input-container.md-block(flex-gt-sm)
            label(for="companhia") Companhia
            input#companhia.md-input(ng-model="item.companhia", aria-invalid="true",name="companhia")
        md-dialog-actions(layout="row", layout-align="end center")
          md-button(type="clear")
            md-icon.material-icons.md-ligh.md-avatar-icon refresh
          md-button
            md-icon.material-icons.md-ligh.md-avatar-icon(ng-click="answer(item)") done

  script(type='text/javascript', src='/javascripts/flightsModule.js')