extends layout

block content
  body(data-ng-app="AirportMainApp",data-ng-controller="indexController")
    h1= title
    p Bem vindo a #{title}

    <!-- Button trigger modal -->
    div
      md-button(ng-click="showAdvanced($event)") Adicionar

    md-content.md-padding(layout-xs="column", layout="column")
      div(flex-xs="80", flex-gt-xs="50", layout="row")
        //- List
        md-card(ng-repeat="plane in planes")
          md-card-title
            md-card-title-text
              span.md-headline Modelo - {{plane.modelo}}
          md-card-content
            md-list
              md-list-item
                p Quantidade maxima de passageiros : {{plane.max_passageiros}}
              md-list-item
                p Quantidade maxima de carga : {{plane.max_carga}} KG
              md-list-item
                p Data da aquisição : {{plane.data_aquisicao | date}}
              md-list-item
                p Companhia : {{plane.companhia}}
          md-card-actions(layout="row", layout-align="end center")
            md-button
              md-icon.material-icons.md-ligh.md-avatar-icon(ng-click="") edit
            md-button
              md-icon.material-icons.md-ligh.md-avatar-icon(ng-click="deletePlane(plane)") close
  script(type="text/ng-template" id="dialog1.tmpl.html")
    md-dialog(layout-padding="",style="min-width:500px;")
      form(ng-cloak)
        //- Edit | Add
        md-title
          h3(layout-gt-xs="row")
            md-input-container.md-block(flex-gt-xs)
              label(for="modelo") Modelo
              input#modelo.md-input(ng-model="currentManagedCard.modelo", aria-invalid="false",name="modelo",md-autofocus)
            md-input-container
              md-button.md-icon-button.md-primary(aria-label="Profile",ng-click="cancel()",style="display:inline-block;top: -35px;")
                md-icon.material-icons close

        md-dialog-content(layout-padding)
          md-input-container.md-block(flex-gt-sm)
            label(for="max_passageiros") Quantidade maxima de passageiros
            input#max_passageiros.md-input(ng-model="currentManagedCard.max_passageiros", aria-invalid="true",name="max_passageiros", type="number")

          md-input-container.md-block(flex-gt-sm)
            label(for="max_carga") Quantidade maxima de carga
            input#max_carga.md-input(ng-model="currentManagedCard.max_carga", aria-invalid="true",name="max_carga", type="number")

          md-input-container.md-block(flex-gt-sm)
            label(for="data_aquisicao") Data da aquisição
            md-datepicker#data_aquisicao(ng-model="currentManagedCard.data_aquisicao", aria-invalid="true",name="data_aquisicao")

          md-input-container.md-block(flex-gt-sm)
            label(for="companhia") Companhia
            input#companhia.md-input(ng-model="currentManagedCard.companhia", aria-invalid="true",name="companhia")
        md-dialog-actions(layout="row", layout-align="end center")
          md-button(type="clear")
            md-icon.material-icons.md-ligh.md-avatar-icon refresh
          md-button
            md-icon.material-icons.md-ligh.md-avatar-icon(ng-click="answer(currentManagedCard)") done



  script(type='text/javascript', src='/javascripts/planesModule.js')