doctype html
html
  head
    title= title

    //- Fonts
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")

    //- Css / less
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet" ,href="/bower_components/angular-material/angular-material.css")
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- Js
    script(type='text/javascript', src="/bower_components/jquery/dist/jquery.min.js")
    script(type='text/javascript', src='/bower_components/parsleyjs/dist/parsley.min.js')

    //- Angular & Angular material
    script(type='text/javascript', src="/bower_components/angular/angular.js")
    script(type='text/javascript', src="/bower_components/angular-route/angular-route.min.js")
    script(type='text/javascript', src="/bower_components/angular-aria/angular-aria.js")
    script(type='text/javascript', src="/bower_components/angular-animate/angular-animate.js")
    script(type='text/javascript', src="/bower_components/angular-material/angular-material.js")
    script(type='text/javascript', src="/bower_components/angular-messages/angular-messages.min.js")
    script(type='text/javascript', src='/javascripts/mainModule.js')

    //-- Controllers and Modules
    script(type='text/javascript', src='/javascripts/officeModule.js')
    script(type='text/javascript', src='/javascripts/employeeModule.js')
    script(type='text/javascript', src='/javascripts/planesModelsModule.js')
    script(type='text/javascript', src='/javascripts/unionModule.js')
    script(type='text/javascript', src='/javascripts/planesModule.js')

  body(ng-app="MainApp", ng-controller="mainController")
    md-nav-bar(md-selected-nav-item="currentPage", nav-bar-aria-label="navigation links")
      md-nav-item(name="consultas",   md-nav-href="/#/") Consultas
      md-nav-item(name="funcionario", md-nav-href="/#/funcionario") Funcionarios
      md-nav-item(name="modelos",     md-nav-href="/#/modelos") Modelos
      md-nav-item(name="avioes",      md-nav-href="/#/avioes") Avioes
      md-nav-item(name="sindicato",   md-nav-href="/#/sindicato") Sindicato
      md-nav-item(name="cargo",       md-nav-href="/#/cargo") Cargos

    div(ng-view)