nav.navbar.navbar-inverse.navbar-fixed-top
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href="#")
        div.glyphicon.glyphicon-plane(aria-hidden="true")
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href="#") Link
            span.sr-only current
        li
          a(href="#") Link