md-content
    h1 Aviões
    <!-- Button trigger modal -->
    div
        md-button(ng-click="showAdvanced($event)") Adicionar

    md-content.md-padding(layout-xs="column", layout="column")
        md-grid-list(md-cols-gt-md="5", md-cols="3", md-cols-md="3", md-row-height-gt-md="8:10", md-row-height="8:10", md-gutter-gt-md="16px", md-gutter-md="8px", md-gutter="4px")
            //- List
            md-grid-tile(ng-repeat="plane in planes")
                md-card(flex)
                    md-card-title
                        md-card-title-text
                            span.md-headline Modelo - {{requestedsArr[plane.id_modelo_aviao]}}
                    md-card-content
                        md-list
                            md-list-item
                                p  ID : {{plane.id_aviao}}
                    md-card-actions(layout="row", layout-align="end center")
                        md-button(ng-click="showAdvanced($event,plane)")
                            md-icon.material-icons.md-ligh.md-avatar-icon edit
                        md-button(ng-click="deletePlane(plane)")
                            md-icon.material-icons.md-ligh.md-avatar-icon close

script(type="text/ng-template" id="dialog1.tmpl.html")
    md-dialog(layout-padding="",style="min-width:500px;")
        form(ng-cloak,name="form")
            //- Edit | Add
            md-title
                h4(layout-gt-xs="row")
                    md-input-container.md-block(flex=90)
                        label(for="id_aviao") ID
                        input#id_aviao.md-input(ng-model="item.id_aviao", aria-invalid="false",name="id_aviao", required,disabled)
                    md-button.md-icon-button(aria-label="Fechar",ng-click="cancel()" flex=33,style="top: -15px;")
                        md-icon.material-icons close
            md-input-container.md-block(flex-gt-sm)
                label Modelo do avião
                md-select#id_modelo_aviao.md-no-underline(ng-value="item.id_modelo_aviao",ng-model="item.id_modelo_aviao", style="min-width: 200px;",ng-required="true")
                    md-option(ng-repeat="planeModel in planeModels", ng-value="planeModel.id_modelo_aviao",ng-selected="item.id_modelo_aviao==planeModel.id_modelo_aviao") {{planeModel.cod_modelo_aviao}}

            md-dialog-actions(layout="row", layout-align="end center")
                md-button(type="clear")
                    md-icon.material-icons.md-ligh.md-avatar-icon refresh
                md-button(ng-click="answer(item)")
                    md-icon.material-icons.md-ligh.md-avatar-icon done