md-content
  h1 Habilidades
  p Lista de especialistas em modelos
  <!-- Button trigger modal -->
  div
    md-button(ng-click="showAdvanced($event)") Adicionar

  md-content.md-padding(layout-xs="column", layout="column")
      //- List
          md-grid-tile(ng-repeat="skill in skills")
              md-card(flex)
                  md-card-title
                      md-card-title-text
                          span.md-headline Modelo - {{requestedsArr[skill.id_funcionario]}}
                  md-card-content
                      md-list
                          md-list-item
                              p  ID : {{requestedsArr[skill.id_aviao]}}
                  md-card-actions(layout="row", layout-align="end center")
                      md-button(ng-click="showAdvanced($event,plane)")
                          md-icon.material-icons.md-ligh.md-avatar-icon edit
                      md-button(ng-click="delete(plane)")
                          md-icon.material-icons.md-ligh.md-avatar-icon close
      //- Table
      table
        thead
          tr
            td(flex=40 width="42%")
              h4 Funcionario
            td(flex=40 width="42%")
              h4 Modelo
            td(flex=5  width="15%")
        tbody
          tr(ng-repeat="skill in skills")
            td(flex=40 width="42%") {{requestedsArr[skill.id_funcionario]}}
            td(flex=40 width="42%") {{requestedsArr[skill.id_modelo]}}
            td(flex=5  width="15%")
              md-button(ng-click="showAdvanced($event,skill)")
                md-icon.material-icons.md-ligh.md-avatar-icon edit
              md-button(ng-click="customDelete(skill)")
                md-icon.material-icons.md-ligh.md-avatar-icon close



script(type="text/ng-template" id="dialog1.tmpl.html")
  md-dialog(layout-padding="",style="min-width:500px;")
    form(ng-cloak,name="form")
      //- Edit | Add
      md-title
        h4(layout-gt-xs="row")
          md-input-container.md-block(flex=90)
            label Modelo do avião
            md-select#id_aviao.md-no-underline(ng-value="item.id_modelo",ng-model="item.id_modelo", style="min-width: 200px;",ng-required="true")
              md-option(ng-repeat="planeModel in planeModels", ng-value="planeModel.id_modelo_aviao",ng-selected="item.id_modelo==planeModel.id_modelo_aviao") {{planeModel.cod_modelo_aviao}}
          md-button.md-icon-button(aria-label="Fechar",ng-click="cancel()" flex=33,style="top: -15px;")
            md-icon.material-icons close
      md-input-container.md-block(flex-gt-sm)
        label Funcionario
        md-select#id_funcionario.md-no-underline(ng-value="item.id_funcionario",ng-model="item.id_funcionario", style="min-width: 200px;",ng-required="true")
          md-option(ng-repeat="employee in employees", ng-value="employee.num_matricula",ng-selected="item.id_funcionario==employee.num_matricula") {{employee.nom_funcionario}}

      md-dialog-actions(layout="row", layout-align="end center")
        md-button(type="clear")
          md-icon.material-icons.md-ligh.md-avatar-icon refresh
        md-button(ng-click="answer(item)")
          md-icon.material-icons.md-ligh.md-avatar-icon done