.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

body {
  padding-left: 50px;
  padding-right: 50px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}


a {
  color: #00B7FF;
}


table{
  width:100%
}

thead tr td{
  border-bottom: 1px solid #dddddd;
}
tbody tr td{
  padding: 15px 5px 15px;
  border-bottom: 1px solid #dddddd;
}

.md-datepicker-calendar {
  max-width: 340px;
}
